<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>상품 등록 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">
  <link href="/css/sidebars.css" rel="stylesheet">

    <!-- 사용자 css 추가 -->
    <th:block layout:fragment="css">
        <style>
            #content {
                min-height: auto;
                width: 100%;
            }

            .fieldError {
                color: #f00;
            }
        </style>
    </th:block>

    <!-- 에러 메시지 경고 스크립트 -->
    <script th:inline="javascript">
        $(document).ready(function () {
            const errorMsg = [[${errorMsg}]];
            if (errorMsg != null) {
                alert(errorMsg);
            }
        });
    </script>

</head>
<div layout:fragment="content" id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="flex-shrink-0 p-3 bg-white col-md-2" style="width: 280px;">
                <a th:href="@{/kittop/admin}"
                   class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24">
                        <use xlink:href="#bootstrap"/>
                    </svg>
                    <span class="fs-5 fw-semibold">관리자 페이지</span>
                </a>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#home-collapse" aria-expanded="true">
                            상품관리
                        </button>
                        <div class="collapse show" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a th:href="@{/kittop/admin/item/list}" class="link-dark rounded">상품목록</a></li>
                                <li><a th:href="@{/kittop/admin/item/register}">상품등록</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#dashboard-collapse" aria-expanded="false">
                            주문관리
                        </button>
                        <div class="collapse" id="dashboard-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a th:href="@{/kittop/order/list}" class="link-dark rounded">주문목록</a></li>
                                <li><a th:href="@{/kittop/board/ex_list}" class="link-dark rounded">교환관리</a></li>
                                <li><a th:href="@{/kittop/board/re_list}" class="link-dark rounded">환불관리</a></li>
                                <li><a th:href="@{/kittop/admin/order/sales}" class="link-dark rounded">매출조회</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#orders-collapse" aria-expanded="false">
                            회원/게시판관리
                        </button>
                        <div class="collapse" id="orders-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a th:href="@{/kittop/board/list}" class="link-dark rounded">Q/A</a></li>
                                <li><a th:href="@{/kittop/admin/userlist}" class="link-dark rounded">회원목록</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <!--                    <li class="mb-1">-->
                    <!--                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">-->
                    <!--                            Account-->
                    <!--                        </button>-->
                    <!--                        <div class="collapse" id="account-collapse">-->
                    <!--                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
                    <!--                                <li><a href="#" class="link-dark rounded">New...</a></li>-->
                    <!--                                <li><a href="#" class="link-dark rounded">Profile</a></li>-->
                    <!--                                <li><a href="#" class="link-dark rounded">Settings</a></li>-->
                    <!--                                <li><a href="#" class="link-dark rounded">Sign out</a></li>-->
                    <!--                            </ul>-->
                    <!--                        </div>-->
                    <!--                    </li>-->
                </ul>
            </div>
            <div class="bg-white d-flex align-items-center justify-content-center col-md-8" style="min-height: 70vh;">
                <div class="container d-flex justify-content-center">
                    <div class="d-flex justify-content-center">
                        <div class="row g-5 d-flex justify-content-center">
                            <div class="col-md-7 col-lg-6">
                                <h4 class="mb-3">상품 정보 입력</h4>
                                <form class="needs-validation" enctype="multipart/form-data"
                                      action="/kittop/admin/item/register" method="post" th:object="${itemDTO}"
                                      novalidate>
                                    <div class="row g-3">

                                        <input type="hidden" th:field="*{itemId}">
                                        <div class="row-sm-6">
                                            <label th:for="category" class="form-label">상품분류</label>
                                            <input type="text" class="form-control" th:field="*{category}"
                                                   placeholder="상품 분류를 입력해주세요" value="" required>
                                            <!--              <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="fieldError"></p>-->
                                        </div>
                                        <div class="row-sm-6">
                                            <label th:for="itemName" class="form-label">상품명</label>
                                            <input type="text" class="form-control" th:field="*{itemName}"
                                                   placeholder="상품명을 입력해주세요." value="" required>
                                            <!--              <p th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" class="fieldError"></p>-->
                                        </div>

                                        <div class="row-sm-6">
                                            <label th:for="price" class="form-label">가격</label>
                                            <input type="number" class="form-control" th:field="*{price}"
                                                   placeholder="상품 가격을 입력해주세요." value="" required>
                                            <!--              <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError"></p>-->
                                        </div>

                                        <div class="row-sm-6">
                                            <label th:for="stock" class="form-label">재고</label>
                                            <input type="number" class="form-control" th:field="*{stock}"
                                                   placeholder="상품 재고를 입력해주세요." value="" required>
                                            <!--              <p th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" class="fieldError"></p>-->
                                        </div>

                                        <div class="row-sm-6">
                                            <label th:for="content" class="form-label">상품 설명</label>
                                            <textarea class="form-control" aria-label="With textarea"
                                                      th:field="*{content}"
                                                      value="" required></textarea>
                                            <!--              <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError"></p>-->
                                        </div>
                                        <br>

                                        <div class="row-sm-6">
                                            <div class="custom-file img-div">
                                                <label th:for="imgName" class="form-label">재고</label>
                                                <input type="file" class="form-control" name="file" value="" required>
                                                <!--              <p th:if="${#fields.hasErrors('imgName')}" th:errors="*{imgName}" class="fieldError"></p>-->
                                            </div>
                                        </div>

                                        <button class="w-100 btn btn-dark btn-lg mx-auto" type="submit"
                                                style="display: block;">
                                            상품등록
                                        </button>
                                    </div>
                                </form>
                                <br>
                                <br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>